@media (prefers-color-scheme: dark) {
	body {
		background-color: #191919;
		color: #6b6b6b;
	}
	.panel-default {
	  border-color: rgba(255,255,255,.1) !important;
	}
	.panel{background-color: #191919 !important;}
	.gov-list a {color: #6b6b6b;}
	.navbar-default {
	  background-color: #191919;
	  border-color: #6b6b6b;
	}
	.footer {
	  border-top: 1px solid #6b6b6b;
	  background: #191919;
	  color: #6b6b6b;
	}
	.btn-default {
	  color: #6b6b6b;
	  background-color: #191919;
	  border-color: #6b6b6b;
	}
	#cy-search_keyword,.hlinfo-search-ipt-hot{background-color: #191919;}
	.alert-info {
	  background-color: #191919;
	  border-color: #6b6b6b;
	}
	.hlinfo-search-ipt-hot .list-group-item {
	  background-color: #191919;
	  color: #6b6b6b;
	}
}